<div class="container pt-4", style="margin-top:70px">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'needs-validation', novalidate: true }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="mb-3">
          <%= f.label :email, class: 'form-label visually-hidden' %>
          <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: 'email', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: 'Email' %>
        </div>

        <div class="d-grid">
          <%= f.submit 'Resend confirmation instructions', class: 'btn btn-primary btn-block mb-3' %>
        </div>
      <% end %>

      <div class="d-grid text-center mb-3">
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
</div>

