<nav class="navbar navbar-dark bg-primary p-2">
  <% if user_signed_in? %>
    <div class="navbar-left sacramento-regular">
      <%= link_to "Budgeti", root_path, class: 'navbar-brand' %>
    </div>
    <div class="navbar-center">
      <h1 class="navbar-text">Welcome</h1>
    </div>
    <div class="navbar-right">
      <%= link_to 'Logout', destroy_user_session_path, data:{turbo_method: :delete}, class: 'navbar-text' %>
    </div>
  <% elsif current_page?(new_user_registration_path) %>
    <div class="navbar-left">
      <%= link_to fa_icon('arrow-left'), new_user_session_path, class: 'navbar-brand' %>
    </div>
    <div class="navbar-center">
      <h1 class="navbar-text">Register</h1>
    </div>
    <div class="navbar-right">
      <%= link_to 'Next', new_user_session_path, class: 'navbar-text' %>
    </div>
    <% elsif current_page?(new_user_session_path) %>
    <div class="navbar-left">
      <%= link_to fa_icon('arrow-left'), new_user_session_path, class: 'navbar-brand' %>
    </div>
    <div class="navbar-center">
      <h1 class="navbar-text">Login</h1>
    </div>
    <div class="navbar-right">
      <%= link_to 'Next', new_user_registration_path, class: 'navbar-text' %>
    </div>
  <% else %>
    <div class="navbar-left sacramento-regular">
      <%= link_to "Budgeti", root_path, class: 'navbar-brand' %>
    </div>
  <% end %>
</nav>
