<div class="container-lg mt-5">
  <%= form_with(model: [@category, @payment], local: true, html: { class: 'lg:w-2/5 w-100 mx-auto border p-2 h-5/6' }) do |form| %>
    <% if payment.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

        <ul>
          <% payment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :name, "Name", class: "visually-hidden" %>
      <%= form.text_field :name, class: "form-control", placeholder: "Name", required: true %>
    </div>

    <div class="mb-3">
      <%= form.label :amount, "$ Amount", class: "visually-hidden" %>
      <%= form.number_field :amount, class: "form-control", placeholder: "$ Amount", required: true, step: "0.01" %>
    </div>

    <div>
      <%= form.submit "Save", class: 'btn btn-primary w-full mt-3' %>
    </div>
  <% end %>
</div>
